body {
  margin: 0;
  font-family: Roboto sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  margin: 0px 10px;
}

.header {
  background: grey;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  display: flex;
  height: 500px;
}

.banner:nth-child(even) {
  background: #ffffff;
}

.banner:nth-child(odd) {
  background: #e5e7eb;
}

.column {
  flex-direction: column;
}

.right-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: aquamarine;
}

.right-content img {
  width: 500px;
}

.box {
  display: flex;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-grow: 0;
  background: #1f2937;
  height: 50px;
}